export const config = {
  appId: "<applicationId",
  authority:
    "https://login.microsoftonline.com/<tenantID>",
  redirectUri: "https://<storageaccoutnameprimaryendpoint>",
  scopes: [
    "https://graph.microsoft.com/user.read",
    "https://graph.microsoft.com/calendars.read",
  ],
  storageAccount: "https://demostorageaccount.blob.core.windows.net",
};
